<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Donation</title>
        <meta name="description" content="Stripe integration sample app" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel='stylesheet' href='/static/css/style.css'/>
    </head>
    <body>
        <div class="container">
            <div class="item header">
                <h2>Donate $20 to save Polar Bears</h2>
                <img src="/static/img/bear.jpg" height="150px"/>
            </div>
            <div class="item">
                <!-- Display a payment form -->
                <form id="payment-form">
                    <div id="card-element">
                        <!--Stripe.js injects the Card Element-->
                    </div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay</span>
                    </button>
                    
                    <p id="card-error" role="alert"></p>
                    
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p>
                </form>
            </div>
        </div>        
    </body>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="/static/js/client.js" defer></script>
</html>
